tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 7px;
}
td { white-space:pre }
/* text style */
.highlight {
	background-color: #fff2ac;
}
.textColor {
	color: blue;
}
#alert {
	border: 1px solid silver;
	padding: 15px;
	
}
/* from https://www.w3schools.com/howto/howto_js_password_validation.asp */
 /* Style all input fields */
input {
  width: 20em;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}
/* Non dues payments need to be hidden at first */
#nonDues {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}
.renew {
	color: red;
}
/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
} 
/* End w3schools example*/
/* Misc styles */
/* for textarea boxes */
.lgtext { width: 400px; height: 100px; }
.mdtext { width: auto; height: 70px; }
