# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

#misc
*.ods
gio_out.txt
members_fields.txt
curlOut.txt
app/scripts/*
scripts/*
sensitive.txt
env_vars
routes.txt
design/*
*.csv*
*.xlsx
#config file
.bundle

#ignore folder
ignore/*

#to get data into db
load_units.rb
script_units.rb

*.sqlite3
*.db
mydata.*
dumpfile
*.dump

#local environmental variables
.env

#rspec
examples.txt
loadsequel.rb
[0-9]
.rspec
.rvmrc

#vi
*~
