# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

#misc
curlOut.txt
app/scripts/*

*.sqlite3
*.db
mydata.*
dumpfile

#local environmental variables
.env

#rspec
examples.txt
loadsequel.rb
[0-9]
.rspec
.rvmrc
