# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

#misc
*.ods
gio_out.txt
members_fields.txt
curlOut.txt
app/scripts/*
scripts/*
sensitive.txt
env_vars
routes.txt
design/*
*.csv*
*.xlsx

*.sqlite3
*.db
mydata.*
dumpfile

#local environmental variables
.env

#rspec
examples.txt
loadsequel.rb
[0-9]
.rspec
.rvmrc

#vi
*~
