<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>PARC membership CMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<script type="text/javascript" src="/js/script.js"></script>
  </head>
  <body <%if @is_pwdreset%>id="PwdReset"<%end%>>
    <form action="/logout" method="POST">
      <input type="submit" value="Sign Out" />
    </form>
	<br />
  <table>
  <tr><td><a href="/r/dump/mbr">Members Table</a></td><td><a href="/r/member/list">List members</a></td><td><a href="/r/member/mbr_rpt">Members & ARRL</a></td></tr>
  <%if session[:auth_user_roles].include?('mbr_mgr')%>
  <tr><td></td><td><a href="/m/member/create">Add a new member</a></td><td><a href="/m/mbr_renewals/show">List Renewals</a></td></tr>
  <tr><td><a href="/m/member/refer/type/list/all">List all Member referrals</a></td><td><a href="/m/member/refer/type/create">Create/Edit Referral Types</a></td><td><a href=<%="/api/mbr_renewal/find/#{ENV['MBRRENEW_SECRET']}"%>>1st Renewal Notice</a></td></tr>
  <tr><td><a href='/m/unit/list/all'>View/Edit all units</a></td><td><a href='/m/unit/create'>Build a new Unit</a></td><td><a href=<%="/api/mbr_renewal/2nd_notice/#{ENV['MBRRENEW_SECRET']}"%>>2nd Renewal Notice</a></td></tr>
  <tr><td><a href="/r/member/list">Record payment</a></td><td><a href="/m/payments/show">View payments</a></td><td><a href='/m/unit/display/fam_unit/status'>Fam Mbrship Renewal</a></td></tr>
  <tr><td><a href='/m/unit/type/create/'>Create/Edit/View unit types</a></td><td>Payment Rpt <a href='/m/payments/report/all/html'>HTML</a> | <a href='/m/payments/report/all/csv'>CSV</a></td><td></td></tr>
  <tr><td><a href="/m/log/view/all">View all logs</a></td><td><a href="/m/log/view/auth_user">View your logs</a></td><td></td></tr>
  <tr><td><a href='/m/log/view/general'>View general logs</a></td><td><a href='/m/log/create/'>Create a Log Record</a></td><td></td></tr>
  <tr><td><a href='/m/event/type/create/'>Create an Event Type</a></td><td><a href='/m/event/create'>Create an Event</a></td><td></td></tr>
  <tr><td><a href='/m/event/list/all'>View Events</a></td><td><a href='/m/member/groupsio'>Sync w/ Groups.io</a></td><td></td></tr>
	<%end%><%if session[:auth_user_roles].include?('auth_u')%>
    <tr><td><a href="/a/auth_user/list">List administrators</a></td><td><a href="/a/auth_user/create">Add an administrator</a></td><td></td></tr>
	<%end%>
  </table
	<br />
	<% if @tmp_msg %>
		<div id="alert">
			<%= @tmp_msg %>
		</div>
	<% end %>
  <noscript>
      <style type="text/css">
          .pagecontainer {display:none;}
      </style>
      <div class="noscriptmsg">
      You don't have javascript enabled.  Please enable it to use this site.
      </div>
  </noscript>
<div class='pagecontainer'>
     <%= yield %>
</div>
 </body>
</html>