<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Testing PARC membership db</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<script type="text/javascript" src="/js/script.js"></script>
  </head>
  <body>
    <form action="/logout" method="POST">
      <input type="submit" value="Sign Out" />
    </form>
	<a href="/dump/mbr">Dump the member table</a><br />
  <a href="/query">Query the member data</a><br />
  <a href="/list/members">List members</a><br />
  <a href="/new/member">Add a new member</a><br />
    <%= yield %>
  </body>
</html>