<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>PARC membership CMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<script type="text/javascript" src="/js/script.js"></script>
  </head>
  <body <%if @is_pwdreset%>id="PwdReset"<%end%>>
    <form action="/logout" method="POST">
      <input type="submit" value="Sign Out" />
    </form>
	<br />
  <table>
  <tr><td><a href="/dump/mbr">Dump the member table</a></td><td><a href="/query">Query the member data</a></td></tr>
  <tr><td><a href="/list/members">List members</a></td><td><a href="/new/member">Add a new member</a></td></tr>
	<%if session[:auth_user_roles].include?('auth_u')%>
    <tr><td><a href="/admin/list_auth_users">List administrators</a></td><td><a href="/admin/create_auth_user">Add an administrator</a></td></tr>
    <tr><td><a href="/admin/log/">Record payment</a></td><td><a href="/admin/view_log/auth_user">View your logs</a></td></tr>
    <tr><td><a href="/admin/view_log/all">View all logs</a></td><td><a href="/admin/payments/show">View payments</a></td></tr>
    <tr><td><a href='/list/units/all'>View all units</a></td><td><a href='/new/unit'>Build a new Unit</a></td></tr>
    <tr><td><a href='/admin/create_unit_type/'>Create/Edit unit types</a></td>
	<%end%>
  </table
	<br />
	<% if @tmp_msg %>
		<div id="alert">
			<%= @tmp_msg %>
		</div>
	<% end %>
     <%= yield %>
 </body>
</html>