<h1>The following members have been updated</h1>
<p>If a member appears without an email address you need to check groups.io one more time to update that email for this database</p>
	<table>
		<tr>
			<th>Name</th>
			<th>call</th>
			<th>email</th>
		</tr>
		<% for member in @mbrs %>
		<tr>
		<td><%="#{member[:fname]} #{member[:lname]}"%></td>
		<td><%=member[:callsign]%></td>
		<td><%=member[:email]%></td>
		</tr>
		<%end%>
	</table>
