<div>
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>call</th>
			<th>action</th>
		</tr>
		<% for member in @mbr_list %>
		<tr>
		<td><%=member[:fname]%></td>
		<td><%=member[:lname]%></td>
		<td><%=member[:callsign]%></td>
		<td><a href ="/admin/payment/new/<%=member[:id]%>">payment</a></td>
		</tr>
		<% end %>
	</table>
</div>
