<h1>Login PARC</h1>
  <form action="/login" method="POST">
    <input name="email" placeholder="email" />
    <input name="password" type="password" placeholder="Password" /><br/>
    <input type="submit" value="Sign In" />
</form>