<h2>Use this form to check your current PARC membership status</h2>
<form action='status' method='POST'>
<label for="identifier_field">Please provide your callsign or first and last name</label>
<input type="text" name="mbrIdentifier" id="identifier_field" onfocusout="validateMbrStatusIdentifier(this)"/>
<br />
<input type="submit" value="Submit"> | <a href="/login">Cancel</a>
</form>
