<h3>Use this form to select members by...</h3>
<form acton="/query" method="POST">
 <select id="query_select" name="query_type">
  <option value="dummy">Pick one</option>
  <optgroup label="Dues Status">
    <option value="paid">Dues Paid</option>
    <option value="unpaid">Dues Unpaid</option>
  </optgroup>
  <optgroup label="Membership Type">
    <option value="full">Full</option>
    <option value="student">Student</option>
    <option value="family">Family</option>
    <option value="honorary">Honorary</option>
  </optgroup>
  <option value="arrl">ARRL Members</option>
  <option value="ares">ARES</option>
  <option value="ve">VE</option>
 </select>
 <input type="submit" value="Submit">
</form>
