<h3>Use this form to select members by...</h3>
<form acton="/query" method="POST">
 <select id="query_select" name="type">
  <option value="dummy">Pick one</option>
  <option value="arrl">ARRL Members</option>
  <option value="paid_up">PARC unpaid</option>
  <option value="examiner">VE</option>
</select>
<input type="submit" value="Submit">
</form>
